# pip install -r requirements.txt

# base ----------------------------------------
Cython
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.2
Pillow<7.0
#scipy>=1.4.1
#tensorboard>=2.2
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0

# logging -------------------------------------
wandb

# plotting ------------------------------------
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyqtgraph==0.11.1
#seaborn>=0.11.0
#pandas

# export --------------------------------------
# coremltools==4.0
# onnx>=1.8.0
# scikit-learn==0.19.2  # for coreml quantization

# extras --------------------------------------
#thop  # FLOPS computation
pycocotools>=2.0  # COCO mAP
glob2==0.6
pathlib2==2.3.2
wget==3.2

# Google Photos API
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.56.3
html5lib==1.0.1
httplib2==0.21.0
oauth2client==4.1.3